<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764999435447-64crp0faitscnq1mr5edesqb2ga7mmaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764999435447-64crp0faitscnq1mr5edesqb2ga7mmaq</string>
	<key>API_KEY</key>
	<string>AIzaSyAgXc8fU1F4A_XX25zTlml8KR7wUMA8whE</string>
	<key>GCM_SENDER_ID</key>
	<string>764999435447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.RealityUIKit</string>
	<key>PROJECT_ID</key>
	<string>realitykitui</string>
	<key>STORAGE_BUCKET</key>
	<string>realitykitui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764999435447:ios:e8500aeabcf4986a023932</string>
</dict>
</plist>